name: GitHub Actions Build and Deploy Demo
on:
  push:
    branches:
      - feature/productpage開發
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v2
    - id: Build-Vue
      uses: xRealNeon/VuePagesAction@1.0.0
      with:
        username: 'pophubup'
        reponame: 'my-demo'
        token:  ${{ secrets.ACCESS_TOKEN }}
      env:
        API_AUTH: ${{ secrets.API_AUTH }}


#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 