name: Deploy to github pages
on:
  push:
    branches:
      - feature/productpage開發
jobs:
  gh-pages-deploy:
    name: Deploying to gh-pages
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v1.4.4
        with:
          version:  12.x
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: "Check My screctkey"
        run: echo  "${{ secrets.API_AUTH }}" 

      - name: Create .env file
        run: |
          touch .env
          echo API_AUTH=${{ secrets.API_AUTH }} >> .env

      - name: Delete gitignore
        run: rm .gitignore

      - name: Clean install dependencies
        run: npm ci

      - name: Run deploy script
        run: |
          git config user.name "Goodarc\Yukai" && git config user.email "yuki@goodarc.com"
          npm run gh-pages-deploy
 
    