name: Deploy to github pages
on:
  push:
    branches:
      - feature/productpage開發
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: "Check My screctkey"
        run: echo  "${{ secrets.API_AUTH }}" 

      - name: Build
        run: |
          npm install
          npm run-script build
        env:
          API_AUTH: ${{ secrets.API_AUTH }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v4
        run: |
          git config user.name "Goodarc\Yukai" && git config user.email "yuki@goodarc.com"
          npm run gh-pages-deploy
        with:
          BRANCH: gh-pages
          FOLDER: dist 
 
    